{% extends "Layout_template.html" %}

{% block header %}  EOD Form {% endblock header%}

{% block test_button %} 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eod_test_modal">
        Run Test
    </button>
{% endblock test_button %}

{% block content %}
    
    <!--Search Section-->
    {% include "Mh_Template/Sections/Search_section.html" %}
    <!--Info Section-->
    {% include "Mh_Template/Sections/Info_section.html" %}
    <div id="module">
        <!--Breakdown Graph Section-->
        {% include "Mh_Template/Sections/Breakdown_graph_section.html" %}
        <!--Today breakdown Section-->
        {% include "Mh_Template/Sections/Yesterday_brk_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Today_brk_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Tomorrow_brk_section.html" %}
    </div>
    <div id="mail">
        <!--Breakdown Graph Section-->
        {% include "Mh_Template/Sections/Mail_graph-section.html" %}
        <!--Today breakdown Section-->
        {% include "Mh_Template/Sections/Yesterday_mail_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Today_mail_section.html" %}
        <!--Yesterday breakdown Section-->
        {% include "Mh_Template/Sections/Tomorrow_mail_section.html" %}
    </div>
    

{% endblock content %}

{% block chart %}
    <script src="{{ url_for('static', filename='charts/mh_brk_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='charts/mh_display.js') }}"></script>
    <script src="{{ url_for('static', filename='charts/mh_mail_chart.js') }}"></script>
{% endblock chart %}
