<!-- FIX -->
<div class="row">
    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title font-16">Yesterday: Mail Test Result</h4>
                <hr>
                <div style="height: 350px">
                    <canvas id="ytd_mail_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-md-4" >
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Today: Mail Test Result</h4>
                <hr>
                <div style="height: 350px">
                    <canvas id="tdy_mail_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Tommorow: Mail Test Result</h4>
                <hr>
                <div style="height: 350px">
                    <canvas id="trw_mail_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->