<!-- FIX -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Tomorrow: Breakdown Test</h4>
        <hr style="border-top: 7px solid #7fc53f">
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">New Patients (Scheduled)<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Hygiene Production (Scheduled)<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Treatment<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Family Members<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Unscheduled Hygiene<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Past Due AR<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Due for BWX<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Due for FMX<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main View</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Breakdown</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>