<div id="count_breakdown_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Services Count Breakdown Test Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Procedure Code</th>
                            <th>Count Data</th>
                            <th>Breakdown Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Preston Nader - INV</td>
                            <td>D8090</td>
                            <td>10</td>
                            <td>10</td>
                            <td>Pass</td>
                        </tr>
                        <tr> 
                            <td>Christian Kirlin - AS1</td>
                            <td>D1110</td>
                            <td>5</td>
                            <td>5</td>
                            <td>Pass</td>

                        </tr>
                        <tr>
                            <td>Preston Nader - INV</td>
                            <td>D8090</td>
                            <td>7</td>
                            <td>5</td>
                            <td>Fail</td>
                        </tr>
                        <tr>
                            <td>Christian Kirlin - AS1</td>
                            <td>D2393</td>
                            <td>14</td>
                            <td>14</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Cloyd Murray - RR</td>
                            <td>D8090</td>
                            <td>21</td>
                            <td>17</td>
                            <td>Fail</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->