<div id="lob_hyg_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">LOB Filter: Hygiene</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Production Table</h5>
                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Financial Data</th>
                            <th>Provider Data</th>
                            <th>Table total Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>31,355.70</td>
                            <td>31,355.70</td>
                            <td>31,355.70</td>
                            <td>Pass</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5>Provider Validation</h5>
                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Provider Name</th>
                            <th>Provider Specialty</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aufderhar, Lisa - 1</td>
                            <td>Doctor</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Wunsch, Cicero - BAL</td>
                            <td>Doctor</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Jast, Elvera - CD</td>
                            <td>Doctor</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Pouros, Maeve - DL</td>
                            <td>Doctor</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Konopelski, Ena - DRK</td>
                            <td>Endo</td>
                            <td>Fail</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->