<div id="production_figures_test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Production Test Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Financial Data is use as the Base Data</p>
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Sections</th>
                            <th>Base Data</th>
                            <th>Breakdown Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Provider Data</td>
                            <td>$45,204.39</td>
                            <td>$45,204.39</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Table Total Data</td>
                            <td>$45,204.39</td>
                            <td>$45,204.39</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Payor Score</td>
                            <td>$45,204.39</td>
                            <td>$45,000.39</td>
                            <td>Fail</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->