<div id="search_prosedure_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Search Procedure Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Search Procedure</th>
                            <th>Type</th>
                            <th>Unsearch Result</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>D8090</td>
                            <td>Orthodontics</td>
                            <td>None</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>D2740</td>
                            <td>Crowns</td>
                            <td>None</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>D3330</td>
                            <td>Endodontics</td>
                            <td>D2740</td>
                            <td>Fail</td>
                        </tr>
                        <tr>
                            <td>D0274</td>
                            <td>Diagnostic</td>
                            <td>None</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>D2392</td>
                            <td>Restorative</td>
                            <td>None</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>D4341</td>
                            <td>Periodontics</td>
                            <td>D4342</td>
                            <td>Fail</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->