<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Breakdowwn Test Result</h4>
                <div class="float-right header-title" style="margin-top: -20px">
                    <a href="#" data-toggle="modal" data-target="#breakdown_test_modal"><i class="fas fa-external-link-alt"></i></a>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">Net Production</h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> Pass </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">Gross Production</h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">Collection</h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">Adjustment </h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">New Patients Visits</h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="card-heading p-1 pl-4 pr-3">
                                <div>
                                    <h5 class="font-16 one-line-text">Patients Visits</h5>
                                </div>
                                <hr>
                                <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="p-3" style="height: 400px">
                                    <canvas id="brk_chart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                            <div class="p-3"style="height: 400px">
                                <canvas id="brk_chart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>