<div class="col-xl-7">
    <div class="card m-b-30">
        <div class="card-body">
            <h4 class="mt-0 header-title">Production Figures Testing</h4>
            <div class="float-right header-title" style="margin-top: -20px">
                <a href="#" data-toggle="modal" data-target="#production_figures_test_modal"><i class="fas fa-external-link-alt"></i></a>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                        <div class="card-heading p-1 pl-4 pr-3">
                            <div>
                                <h5 class="font-16 one-line-text">Provider Data</h5>
                            </div>
                            <hr>
                            <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                        <div class="card-heading p-1 pl-4 pr-3">
                            <div>
                                <h5 class="font-16 one-line-text">Table Total</h5>
                            </div>
                            <hr>
                            <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                        <div class="card-heading p-1 pl-4 pr-3">
                            <div>
                                <h5 class="font-16 one-line-text">Payor Score</h5>
                            </div>
                            <hr>
                            <p class="text-muted mt-2 mb-0 pb-2">Test Result :<span> PASS </span> </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card" style="box-shadow: 1px 1px 4px #000000;">
                        <div class="p-3"style="height: 400px">
                            <canvas id="production_figures_test"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end col -->