<div id="figures_test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">METRIC TEST RESULT: PER MONTH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 
                 <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Mertric</th>
                            <th>Base Data</th>
                            <th>Scrip Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Scheduled Amount</td>
                            <td>$12,123</td>
                            <td>$12,123</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Goal</td>
                            <td>$57,000.00</td>
                            <td>$57,000.00</td>
                            <td>Pass</td>
                        </tr>
                        <tr>
                            <td>Appointments</td>
                            <td>330</td>
                            <td>300</td>
                            <td>Fail</td>
                        </tr>
                        <tr>
                            <td>New Patients</td>
                            <td>123</td>
                            <td>100</td>
                            <td>Fail</td>
                        </tr>
                        <tr>
                            <td>Production</td>
                            <td>$ 43,844.16</td>
                            <td>$ 43,844.16</td>
                            <td>Pass</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>