<div id="test_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Run Test Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <form action="{{ url_for('cal.runCalendar') }}" method="POST" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label>Test Code </label>
                        <div>
                            <input type="text" class="form-control" name="test_code" required placeholder="Enter The Test Code"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Default Test</label>
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" checked disabled class="custom-control-input" id="customCheck1" name="default_test[]" data-parsley-multiple="groups"
                                        data-parsley-mincheck="2">
                                <label class="custom-control-label" for="customCheck1">Metric Test: Per Month</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" checked disabled class="custom-control-input" id="customCheck2" name="default_test[]" data-parsley-multiple="groups"
                                        data-parsley-mincheck="2">
                                <label class="custom-control-label" for="customCheck2">Appointment Validation</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" checked disabled class="custom-control-input" id="customCheck3" name="default_test[]" data-parsley-multiple="groups"
                                        data-parsley-mincheck="2">
                                <label class="custom-control-label" for="customCheck3">Appointment Validation: Per Day</label>
                            </div>
                            
                        </div>
                        <hr>
                        <label>Optional Test</label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="optional_test[]" value="Provider Filter Test" id="provider_filter">
                                <label class="form-check-label" for="provider_filter">
                                    Provider Filter Test
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="optional_test[]" value="Procedure Filter Test" id="procedure_filter">
                                <label class="form-check-label" for="procedure_filter">
                                    Procedure Filter Test
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="optional_test[]" value="Patient Filter Test" id="patient_filter" >
                                <label class="form-check-label" for="patient_filter">
                                    Patient Filter Test
                                </label>
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-group m-b-0 float-right">
                        <div>
                            <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                Proceed
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>