<div class="row">
    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title font-16">Provider Filter Test</h4>
                <div class="float-right header-title" style="margin-top: -20px">
                    <a href="#" data-toggle="modal" data-target="#provider_filter_modal"><i class="fas fa-external-link-alt"></i></a>
                </div>
                <hr>
                <div style="height: 350px">
                    <canvas id="tx_provider_filter_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-md-4" >
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Procedure Filter Test</h4>
                <div class="float-right header-title" style="margin-top: -20px">
                    <a href="#" data-toggle="modal" data-target="#procedure_filter_modal"><i class="fas fa-external-link-alt"></i></a>
                </div>
                <hr>
                <div style="height: 350px">
                    <canvas id="tx_procedure_filter_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Patient Filter Test</h4>
                <div class="float-right header-title" style="margin-top: -20px">
                    <a href="#" data-toggle="modal" data-target="#patient_filter_modal"><i class="fas fa-external-link-alt"></i></a>
                </div>
                <hr>
                <div style="height: 350px">
                    <canvas id="tx_patient_filter_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->