<div class="row">
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Breakdown Test Result</h4>
                <hr>
                <div style="height: 400px">
                    <canvas id="breakdown_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-md-6" >
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Mail Test Result</h4>
                <hr>
                <div style="height: 400px">
                    <canvas id="mail_chart"></canvas>
                </div>
                
            </div>
        </div>
    </div>
</div> <!-- end row -->