<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Jarvis Data VS Receive Email</h4>
        <hr style="border-top: 7px solid #6c53d7">
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Collection<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">No Show<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">New Patients<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Adjustments<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Daily Collection<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Same Day Treatment<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Case Acceptance<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Hyg Reappointment<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">PT Portion Collections %<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-heading p-1 pl-4 pr-3">
                <div>
                    <h5 class="font-12 one-line-text">Patients w/ Missing Referral<span class="float-right">PASS</span></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 border-right">
                        <p class="text-muted mt-2 mb-0 pb-2">Main Data</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="text-muted mt-2 mb-0 pb-2 one-line-text">Mail</p>
                        <h3 class="text-center font-20">12,234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>